<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{342,490}}</string>
                <key>offset</key>
                <string>{-27,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,44},{342,490}}</string>
                <key>sourceSize</key>
                <string>{542,538}</string>
            </dict>
            <key>Attack__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{300,492}}</string>
                <key>offset</key>
                <string>{-25,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,42},{300,492}}</string>
                <key>sourceSize</key>
                <string>{542,538}</string>
            </dict>
            <key>Attack__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,496}}</string>
                <key>offset</key>
                <string>{-43,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,38},{332,496}}</string>
                <key>sourceSize</key>
                <string>{542,538}</string>
            </dict>
            <key>Attack__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,604},{362,490}}</string>
                <key>offset</key>
                <string>{-59,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,44},{362,490}}</string>
                <key>sourceSize</key>
                <string>{542,538}</string>
            </dict>
            <key>Attack__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{362,490}}</string>
                <key>offset</key>
                <string>{-59,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,44},{362,490}}</string>
                <key>sourceSize</key>
                <string>{542,538}</string>
            </dict>
            <key>Attack__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{362,490}}</string>
                <key>offset</key>
                <string>{-59,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,44},{362,490}}</string>
                <key>sourceSize</key>
                <string>{542,538}</string>
            </dict>
            <key>Attack__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,304},{298,492}}</string>
                <key>offset</key>
                <string>{-19,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,42},{298,492}}</string>
                <key>sourceSize</key>
                <string>{542,538}</string>
            </dict>
            <key>Attack__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,968},{304,480}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,58},{304,480}}</string>
                <key>sourceSize</key>
                <string>{542,538}</string>
            </dict>
            <key>Attack__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{316,468}}</string>
                <key>offset</key>
                <string>{15,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,70},{316,468}}</string>
                <key>sourceSize</key>
                <string>{542,538}</string>
            </dict>
            <key>Attack__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1274},{336,458}}</string>
                <key>offset</key>
                <string>{24,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,80},{336,458}}</string>
                <key>sourceSize</key>
                <string>{542,538}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9407e0c5aa5fbd5a61417476f31f9e0$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
